<% include struct/header.ejs %>
<% include struct/navbar.ejs %>
<div class="container-fluid margin-top text-center">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-10 my-4">
            <div class="card">
                <h5 class="card-header h5 bg-blue">BTC / USD</h5>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Open price</th>
                                <th scope="col">Close price</th>
                                <th scope="col">Higher price</th>
                                <th scope="col">Lower price</th>
                                <th scope="col">Volume</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( var index in data ){ %>
                            <tr>
                                <th scope="row"><%= new Date(data[index][0]).getDate() %>/<%= ((new Date(data[index][0]).getMonth() + 1 < 10) ? "0" + (new Date(data[index][0]).getMonth() + 1) : (new Date(data[index][0]).getMonth() + 1)) %></th>
                                <td><%= new Date(data[index][0]).getHours() %>:<%= ((new Date(data[index][0]).getMinutes() < 10) ? "0" + new Date(data[index][0]).getMinutes() : new Date(data[index][0]).getMinutes()) %></td>
                                <td><%= data[index][1] %></td>
                                <td><%= data[index][2] %></td>
                                <td><%= data[index][3] %></td>
                                <td><%= data[index][4] %></td>
                                <td><%= data[index][5] %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<% include struct/footer.ejs %>